################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TemplatesHttp/.vs/TemplatesHttp/v14
/TemplatesHttp/packages/log4net.2.0.5
/TemplatesHttp/TemplatesHttp/bin/Debug
/TemplatesHttp/TemplatesHttp.Test/bin/Debug
/TemplatesHttp/TemplatesHttp.Test/obj/Debug/TemplatesHttp.Test.csproj.FileListAbsolute.txt
/TemplatesHttp/TemplatesHttp.Test/obj/Debug/TemplatesHttp.Test.csprojResolveAssemblyReference.cache
/TemplatesHttp/TemplatesHttp.Test/obj/Debug/TemplatesHttp.Test.dll
/TemplatesHttp/TemplatesHttp.Test/obj/Debug/TemplatesHttp.Test.pdb
/TemplatesHttp/TemplatesHttp/obj/Debug/TemplatesHttp.csproj.FileListAbsolute.txt
/TemplatesHttp/TemplatesHttp/obj/Debug/TemplatesHttp.csprojResolveAssemblyReference.cache
/TemplatesHttp/TemplatesHttp/obj/Debug/TemplatesHttp.dll
/TemplatesHttp/TemplatesHttp/obj/Debug/TemplatesHttp.pdb
